Repository nick-p-34/zenithracingteam.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update route types import, add test script
  next-env.d.ts
  package-lock.json
  package.json
Due: prettier --write

Replace default stylesheet and routes
  src/app/globals.css
  src/app/layout.tsx
Due: eslint --fix, prettier --write

Add Wrangler and entrypoint for Cloudflare Worker
  src/index.ts
  wrangler.jsonc
Due: eslint --fix, prettier --write

Update worker name
  wrangler.jsonc
Due: none

Update index.ts for worker
  src/index.ts
Due: eslint --fix, prettier --write

Add dependency for Wrangler
  package-lock.json
  package.json
Due: prettier --write

Remove index.ts, point Wrangler to worker
  package-lock.json
  package.json
  src/index.ts
  wrangler.jsonc
Due: eslint --fix, prettier --write

Fix build errors, remove unused API call
  next.config.ts
  package-lock.json
  package.json
  src/app/page.tsx
  src/styles/globals.css
  wrangler.jsonc
Due: eslint --fix, prettier --write

Add build command to Wrangler
  wrangler.jsonc
Due: none

Create landing page, apply styles
  src/app/page.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

Add social icons and links
  .gitignore
  src/app/layout.tsx
  src/app/page.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

Delete .idea directory
  .idea/.gitignore
  .idea/compiler.xml
  .idea/copilot.data.migration.ask2agent.xml
  .idea/material_theme_project_new.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/zenithracingteam.co.uk.iml
Due: none

Add placeholder pages for website structure
  .gitignore
  .wrangler/tmp/bundle-3hhAv2/middleware-insertion-facade.js
  .wrangler/tmp/bundle-3hhAv2/middleware-loader.entry.ts
  .wrangler/tmp/bundle-4tXKe5/middleware-insertion-facade.js
  .wrangler/tmp/bundle-4tXKe5/middleware-loader.entry.ts
  .wrangler/tmp/bundle-E6DvJ0/middleware-insertion-facade.js
  .wrangler/tmp/bundle-E6DvJ0/middleware-loader.entry.ts
  .wrangler/tmp/bundle-YRHa4b/middleware-insertion-facade.js
  .wrangler/tmp/bundle-YRHa4b/middleware-loader.entry.ts
  .wrangler/tmp/bundle-awf971/middleware-insertion-facade.js
  .wrangler/tmp/bundle-awf971/middleware-loader.entry.ts
  .wrangler/tmp/bundle-lPqMGo/middleware-insertion-facade.js
  .wrangler/tmp/bundle-lPqMGo/middleware-loader.entry.ts
  .wrangler/tmp/bundle-rLuSvZ/middleware-insertion-facade.js
  .wrangler/tmp/bundle-rLuSvZ/middleware-loader.entry.ts
  src/app/about-us/page.tsx
  src/app/boardroom/contact-us/page.tsx
  src/app/boardroom/our-partners/page.tsx
  src/app/boardroom/page.tsx
  src/app/boardroom/sponsorships/page.tsx
  src/app/cooldown-room/latest-debrief/page.tsx
  src/app/cooldown-room/page.tsx
  src/app/cooldown-room/past-results/[resultSlug]/page.tsx
  src/app/cooldown-room/past-results/page.tsx
  src/app/cooldown-room/trophy-cabinet/page.tsx
  src/app/garage/[carSlug]/page.tsx
  src/app/garage/page.tsx
  src/app/noticeboard/articles/[articleSlug]/page.tsx
  src/app/noticeboard/event-calendar/page.tsx
  src/app/noticeboard/gallery/page.tsx
  src/app/noticeboard/page.tsx
  src/app/team/[bioSlug]/page.tsx
  src/app/team/page.tsx
Due: eslint --fix, prettier --write

Delete .wrangler/tmp directory
  .wrangler/tmp/bundle-3hhAv2/middleware-insertion-facade.js
  .wrangler/tmp/bundle-3hhAv2/middleware-loader.entry.ts
  .wrangler/tmp/bundle-4tXKe5/middleware-insertion-facade.js
  .wrangler/tmp/bundle-4tXKe5/middleware-loader.entry.ts
  .wrangler/tmp/bundle-E6DvJ0/middleware-insertion-facade.js
  .wrangler/tmp/bundle-E6DvJ0/middleware-loader.entry.ts
  .wrangler/tmp/bundle-YRHa4b/middleware-insertion-facade.js
  .wrangler/tmp/bundle-YRHa4b/middleware-loader.entry.ts
  .wrangler/tmp/bundle-awf971/middleware-insertion-facade.js
  .wrangler/tmp/bundle-awf971/middleware-loader.entry.ts
  .wrangler/tmp/bundle-lPqMGo/middleware-insertion-facade.js
  .wrangler/tmp/bundle-lPqMGo/middleware-loader.entry.ts
  .wrangler/tmp/bundle-rLuSvZ/middleware-insertion-facade.js
  .wrangler/tmp/bundle-rLuSvZ/middleware-loader.entry.ts
Due: none

Apply styling to placeholder pages
  src/app/about-us/page.tsx
  src/app/boardroom/contact-us/page.tsx
  src/app/boardroom/our-partners/page.tsx
  src/app/boardroom/page.tsx
  src/app/boardroom/sponsorships/page.tsx
  src/app/cooldown-room/latest-debrief/page.tsx
  src/app/cooldown-room/page.tsx
  src/app/cooldown-room/past-results/[resultSlug]/page.tsx
  src/app/cooldown-room/past-results/page.tsx
  src/app/cooldown-room/trophy-cabinet/page.tsx
  src/app/garage/[carSlug]/page.tsx
  src/app/garage/page.tsx
  src/app/layout.tsx
  src/app/noticeboard/articles/[articleSlug]/page.tsx
  src/app/noticeboard/event-calendar/page.tsx
  src/app/noticeboard/gallery/page.tsx
  src/app/noticeboard/page.tsx
  src/app/team/[bioSlug]/page.tsx
  src/app/team/page.tsx
Due: eslint --fix, prettier --write

Add new favicon.ico
  src/app/favicon.ico
Due: none

Add glint animation to cards
  src/app/page.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

Update Wrangler package
  package-lock.json
  package.json
Due: prettier --write

Update hover animations on social icons
  src/app/page.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

Update glint animation
  src/app/page.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

Apply graffiti styling
  src/app/about-us/page.tsx
  src/app/boardroom/contact-us/page.tsx
  src/app/boardroom/our-partners/page.tsx
  src/app/boardroom/page.tsx
  src/app/boardroom/sponsorships/page.tsx
  src/app/cooldown-room/latest-debrief/page.tsx
  src/app/cooldown-room/page.tsx
  src/app/cooldown-room/past-results/[resultSlug]/page.tsx
  src/app/cooldown-room/past-results/page.tsx
  src/app/cooldown-room/trophy-cabinet/page.tsx
  src/app/garage/[carSlug]/page.tsx
  src/app/garage/page.tsx
  src/app/noticeboard/articles/[articleSlug]/page.tsx
  src/app/noticeboard/event-calendar/page.tsx
  src/app/noticeboard/page.tsx
  src/app/page.tsx
  src/app/team/[bioSlug]/page.tsx
  src/app/team/page.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

Adjust graffiti overlap
  src/styles/globals.css
Due: prettier --write

Fix incorrect font import
  src/styles/globals.css
Due: prettier --write

Improve reactivity for mobile
  src/app/page.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

Update screen size breakpoints
  src/app/page.tsx
Due: eslint --fix, prettier --write

Rephrase intro paragraph
  src/app/page.tsx
Due: eslint --fix, prettier --write

Add placeholder paragraphs to pages
  src/app/about-us/page.tsx
  src/app/boardroom/our-partners/page.tsx
  src/app/boardroom/page.tsx
  src/app/boardroom/sponsorships/page.tsx
  src/app/cooldown-room/latest-debrief/page.tsx
  src/app/cooldown-room/page.tsx
  src/app/cooldown-room/past-results/[resultSlug]/page.tsx
  src/app/cooldown-room/past-results/page.tsx
  src/app/cooldown-room/trophy-cabinet/page.tsx
  src/app/garage/[carSlug]/page.tsx
  src/app/garage/page.tsx
  src/app/noticeboard/articles/[articleSlug]/page.tsx
  src/app/noticeboard/articles/page.tsx
  src/app/noticeboard/event-calendar/page.tsx
  src/app/noticeboard/gallery/page.tsx
  src/app/noticeboard/page.tsx
  src/app/team/[bioSlug]/page.tsx
  src/app/team/page.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

Add 404 page and redirect
  src/app/not-found.tsx
  src/styles/globals.css
  wrangler.jsonc
Due: eslint --fix, prettier --write

Fix misnamed page
  src/app/noticeboard/gallery/page.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: app/**/*.{ts,tsx,js,jsx,mdx}) or (any of: src/**/*.{ts,tsx,js,jsx,mdx})
  prettier --write: ((((any of: app/**/*.{ts,tsx,js,jsx,mdx}) or (any of: src/**/*.{ts,tsx,js,jsx,mdx})) or (any of: src/**/*.{css,scss})) or (any of: app/**/*.{css,scss})) or (any of: *.{md,json,mdx})
